.bgImg2 {
  width: 100%;
  height: 500px;
  background-image: url('~@/assets/img/bg2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: -1;
    opacity: 0.1;
  }
}

.slogan2 {
  position: absolute;
  width: 60%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-weight: 600;  
  letter-spacing: 3px;
  line-height: 1.5em;
  div{
    background-color: rgba(255, 255, 255, 0.253);
  }
  span{
  text-decoration: underline;
  }
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
.ListProductsImg {
  width: 100%;
  height: 150px;
  background-color: rgb(148, 85, 43);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
}

.ListProductsInputwrap {
  position: relative;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);

  button {
    border: solid 2px $color;
    border-left: 0px;
    border-radius: 0% 5% 5% 0%;
    color: $color;
    font-size: 16px;   
    font-weight: $bold;
    background-color: rgba(255, 255, 255, 0.144);
    &:hover {
      border-color: #000;
    }
  }

  input {
    border-right: 0;
    width: 40%;
    line-height: 34px;
    border-radius: 5% 0% 0% 5%;
  }
}

.clickWrap {
  height: 10px;
  a {
  padding: 5px 20px 5px 20px;
  display: inline;
  cursor: pointer;
  font-weight: $bold;
  font-size: 16px;
  }

  a:hover,div:hover {
  font-size: 18px;
  color: #e7dbc1;
  border-radius: 10%;
  background-color: rgb(148, 85, 43);
  transition: 0.2s;
  }
  div {
    display: inline-block;
    color: black;
  }
}

.rotate{
  transform: rotate( 180deg);
}

.ListProductsBadge{
  position: absolute;
  top: 0px;
  z-index: 9;
  font-size: 15px;
  font-weight: 600;
  animation: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    right:40px;
  }
  to {
    right:0px
  }
}


.ListProductsCardBG{
background-color: rgba(212, 208, 189, 0.336);
max-width:360px;
}

.list-group-item.active,
.ListProductsCardFooter button,
.list-group :hover{
  @include hover;
}

.active,
.ListProductsBadge {
  @include active;
}

.sizing {
  max-height: 371px;
  margin-top: 24px;
}

.ListProductsCard{
&:hover {
  cursor: pointer;
  animation: goBig;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  }
  button:hover {
    color: #FFF;
  }
}

@keyframes goBig {
  from {
    height: 100%;
    width: 100%;
  }
  to {
    height: 100% + 1%;
    width: 100% + 1%;
  }
}

.ListProductsCardText {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ListProductsCardFooter button {
  padding: 4px 12px 4px 12px;
  font-size: 18px;
  font-weight: $bold;
  color: rgb(148, 85, 43);;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 576px) {

  .ListProductsSidebar {
    padding: 0px 0px 0px 5px;

    a {
      padding: 5px 0px 5px 0px;
      font-weight: $bold;
    }
  }
}
