.front-order-container {
  position: relative;
  z-index: 0;
}

.front-order-table {
  background-color: #e7dbc1;
}

.bgImg3 {
  width: 100%;
  height: 200px;
  background-image: url('~@/assets/img/bg3.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: -1;
    opacity: 0.2;
  }
}

.btn {
  cursor: not-allowed;
}

.direct {
  font-size: 2em;
  border-bottom: 3px solid gray;
}

.linkDiv {
  padding-top: 10px;
  a {
    color: #000;
    font-weight: 600;
    animation: BGmove 0.75s infinite;
    padding: 8px;
    font-size: 28px;
    &:hover {
      padding: 8px;
      transition: 0.15s;
    }
  }
}

.noItem {
  margin: 10px;
  font-size: 28px;
  color: red;
  padding: 10px 0px 10px 0px;
}

.validDiv .form-group {  
  text-align: left;

  input {
    height: 23px;
  }
}

@media (max-width: 486px) {
  .front-order-table .img {
    padding: 0;
    width: 50px;
  }
}
