.CheckWrap {
    .container-fluid {
      padding-top: 100px;
      display: flex;
      justify-content: center;
    }
    ul {
      margin-top: 0px;
    }
    .guild {
      span {
        font-size: 15px;
      }
      p {
        font-size: 21px;
      }
      a {
        font-size: 25px;
      }
    }
    .sign {
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      div {
        padding: 5px;
        cursor: pointer;
      }
    }
  }