.navbarBrand:hover {
  transform: scale(1.1);
  border-radius: 10%;
}

.cartIcon {
  position: relative;
}

.badge {
  position: absolute;
  top: -8px;
  right: -5px;
  z-index: 9;
  font-size: 12px;
  color: red;
  border-radius: 50%;
}

img {
  width: auto;
}

.navbar,
.navImg {
  @include navSet;
}

.cart-menu {
  min-width: 350px;
  position: absolute;
  transform: translateX(-50%);
  border: #000 solid 1px;
}

.firstBtn::after,
.secondBtn::after,
.thirdBtn::after {
  content: '';
  display: block;
  width: 0px;
  height: 4px;
  background: #000;
  transition: width 0.4s;
}

.firstBtn:hover::after,
.secondBtn:hover::after,
.thirdBtn:hover::after {
  width: 100%;
}

.firstBtn button:hover,
.thirdBtn button:hover {
  @include btnColor;
}

.firstBtn:hover,
.secondBtn:hover,
.thirdBtn:hover {
  @include btnColor;
  border-radius: 0.25rem;
}

.dropdown-toggle::after{
  border-right: 0;
  border-left: 0;
}

.firstBtn:hover svg,
.secondBtn:hover svg,
.thirdBtn:hover svg {
  animation: shake 0.85s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.lang-wrap{
  text-align: center;
  background: $color;

  .dropdown-menu{
    min-width: none;
  }
}

@media (max-width: 767px) {
.firstBtn:hover::after,
.secondBtn:hover::after,
.thirdBtn:hover::after {
  margin: auto;
  width: 30%;
}

.cart-menu{
  min-width: 100%;
}

.cart-menu.show
{
position: absolute;
left: 50%;
top: 100%;
transform: translate(-50%, 0%);
}

}

@media (max-width: 576px) {

  .secondBtn {
    padding: 0px 0px 0px 0px;
  }

  .spanCenter {
    display: flex;
    justify-content: center;
  }

  .firstBtn:after,
  .secondBtn:after,
  .thirdBtn:after {
    content: '';
    margin: auto;
    width: 100%;
    border: solid 1px black;
    animation-name: border;
    animation-duration: 0.8s;
    animation-fill-mode: both;
  }

  @keyframes border {
    from {
      width: 100%;
    }
    to {
      width: 45%;
    }
  }

  span {
    padding-left: 15px;
  }

  .firstBtn:hover .btn,
  .thirdBtn:hover .btn {
    @include btnColor;
  }

  .cartIcon {
    position: unset;
  }

  .cartRwdicon {
    position: relative;
  }

  .badge {
    top: -3px;
    right: 52%;
  }
}
