@mixin active {
  background-color: #e7dbc1;
  color: black;
  border-color: #e7dbc1;
}

@mixin hover {
  background-color: rgb(235, 201, 139);
  font-weight: $bold;
  color: white;
  box-shadow: 1px 1px rgb(109, 75, 13);
}

$color: rgb(197, 7, 7);
$bold: 600;

.bgImg2 {
  width: 100%;
  height: 500px;
  background-image: url('~@/assets/img/nav.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: -1;
    opacity: 0.1;
  }
}


.wrapper{
  max-width: 1400px;
  margin: 0 auto;
}
.ListProducts-img {
  width: 100%;
  height: 150px;
  background-color: rgb(148, 85, 43);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
}

.ListProducts-inputwrap {
  position: relative;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);

  button {
    border: solid 2px $color;
    border-left: 0px;
    color: $color;
    font-size: 18px;
    font-weight: $bold;
    background-color: rgba(255, 255, 255, 0.144);
    cursor: pointer;
  }

  input {
    width: 40%;
    line-height: 33px;
    border-radius: 5%;
  }
}

.click {
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-weight: $bold;
  font-size: 16px;
}

.click:hover {
  font-size: 18px;
  color: rgb(235, 201, 139);
  border-radius: 10%;
  background-color: rgb(148, 85, 43);
  transition: 0.2s;

  span {
    display: inline-block;
    color: $color;
  }

  span .inverse {
    transform: rotate(180deg);
  }
}

.ListProducts-badge{
  position: absolute;
  top: 0px;
  z-index: 9;
  font-size: 15px;
  font-weight: 600;
  animation: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fade-in {
  from {
    right:40px;
  }
  to {
    right:0px
  }
}

.ListProducts-cardBG{
background-color: rgba(212, 208, 189, 0.336);
max-width:300px;
}

.list-group-item.active,
.ListProducts-card-footer button,
.list-group :hover{
  @include hover;
}

.active,
.ListProducts-badge {
  @include active;
}

.sizing {
  box-sizing: border-box;
  max-height: 351px;
  margin-top: 24px;
}

.ListProducts-card:hover {
  border: 1px solid gray;
  box-shadow: 1px 1px black;
  cursor: pointer;
  animation: goBig;
  animation-duration: 0.3s;
  animation-fill-mode: both;

  button:hover{
    color: #FFF;
  }
}

@keyframes goBig {
  from {
    height: 100%;
    width: 100%;
  }
  to {
    height: 100% + 1%;
    width: 100% + 1%;
  }
}

.ListProducts-card-text {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ListProducts-card-footer button {
  padding: 4px 12px 4px 12px;
  font-size: 18px;
  font-weight: $bold;
  color: rgb(148, 85, 43);;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 576px) {

  // .slogan {
  //   width: 100%;
  //   font-size: 25px;
  // }

  .ListProducts-sidebar {
    padding: 0px 0px 0px 5px;

    a {
      padding: 5px 0px 5px 0px;
      font-weight: $bold;
    }
  }
}
