.container {
  max-width: 1024px;
  background-color: #ddc18e;
}

.row {
  padding-left: 0;
}
span {
  font-size: 28px;
  color: rgb(165, 23, 23);
  text-align: left;
}

li {
  list-style-type: none;
}

i {
  color: saddlebrown;
  font-size: 28px;
}

.fa-phone,
.fa-map-marker-alt {
  font-size: 18px;
  padding-right: 3px;
}
.fb
 {
  font-size: 28px;
  padding: 0px 3px 0px 15px;
}

.ig:hover {
  padding-top: 30px;
}

.txt {
  min-width: 80px;
  max-width: 80px;
}

.rightbox {
  padding-top: 75px;
  font-size: 12px;
}

@media (max-width: 550px) {
  .rightbox {
    padding-top: 90px;
    padding-left: 15px;
    font-size: 8px;
    text-align: left;
    line-height: 15px;
  }
  
  .infobox{
    font-size: 12px;
    line-height: 15px;
  }

  .fa-phone,
  .fa-map-marker-alt {
    font-size: 13px;
  }
}