@mixin navSet {
  border: none;
  background-color: #e7dbc1;
  color: black;
}

@mixin btnColor {
  background-color: rgb(235, 201, 139);
  font-weight: bolder;
  box-shadow: 1px 1px rgb(109, 75, 13);
}

.bgImg {
  width: 100%;
  height: 350px;
  background-image: url("~@/assets/img/logoBg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.bgImg::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: -1;
  opacity: 0.175;
}

.cartIcon {
  position: relative;
}

.badge {
  position: absolute;
  top: -8px;
  right: -5px;
  z-index: 9;
  font-size: 12px;
  color: red;
  border-radius: 50%;
}

img {
  width: auto;
}

.btn-secondary,
.navbar,
img {
  @include navSet;
}

.list-group-item {
  @include navSet;
  padding-right: 5px;
}

.dropdown-cart {
  min-width: 350px;
  position: absolute;
}

.firstBtn,
.secondBtn,
.thirdBtn {
  display: inline-block;
  text-decoration: none;
}

.firstBtn::after,
.secondBtn::after,
.thirdBtn::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.firstBtn:hover::after,
.secondBtn:hover::after,
.thirdBtn:hover::after {
  width: 100%;
}

.firstBtn button:hover,
.thirdBtn button:hover {
  @include btnColor;
}

.firstBtn:hover,
.secondBtn:hover,
.thirdBtn:hover {
  @include btnColor;
  border-radius: 0.25rem;
}

.firstBtn:hover svg,
.secondBtn:hover svg,
.thirdBtn:hover svg {
  animation: shake 0.85s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media (max-width: 576px) {
  .bgImg {
    height: 280px;
  }

  .btn {
    margin-bottom: 1px;
  }

  .secondBtn {
    padding: 10px 0px 0px 0px;
  }

  .spanCenter {
    display: flex;
    justify-content: center;
  }

  .secondBtn svg {
    margin-bottom: 5px;
  }

  .firstBtn::after,
  .thirdBtn::after {
    content: "";
    margin: auto;
    width: 100%;
    border: solid 1px black;
    animation-name: border;
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .secondBtn::after {
    content: "";
    margin: auto;
    width: 100%;
    border: solid 1px black;
    animation-name: border;
    animation-duration: 0.8s;
    animation-fill-mode: both;
  }

  @keyframes border {
    from {
      width: 100%;
    }
    to {
      width: 45%;
    }
  }

  span {
    padding-left: 15px;
  }

  .firstBtn:hover .btn,
  .thirdBtn:hover .btn {
    @include btnColor;
  }

  .cartIcon {
    position: unset;
  }

  .cartRwdicon {
    position: relative;
  }

  .badge {
    top: -3px;
    right: 52%;
  }
}
