.container,.footer {
  max-width: 1024px;
  background-color: #ddc18e;
  position: relative;
}


span {
  font-size: 28px;
  color: rgb(165, 23, 23);
  text-align: left;
}

li {
  list-style-type: none;
}

i {
  color: saddlebrown;
  font-size: 28px;
}

.fa-phone,
.fa-map-marker-alt {
  font-size: 18px;
  padding-right: 3px;
}
.fb {
  font-size: 28px;
  padding: 0px 3px 0px 15px;
}

.txt {
  min-width: 80px;
  max-width: 80px;
}

.rightbox {
  padding-top: 75px;
  font-size: 12px;
}

@media (max-width: 550px) {
  .rightbox {
    font-size: 8px;
    text-align: left;
    line-height: 15px;
    position: absolute;
    left: -35%;
    top: 20%;
  }

  .leftbox {
    padding-right: 15px;
  }

  .fb,
  .ig {
    padding: 0px;
  }

  .infobox {
    font-size: 12px;
    line-height: 15px;
  }

  .fa-phone,
  .fa-map-marker-alt {
    font-size: 13px;
  }
  .footer{
    padding-top: 8px;
  }
}
