.container {
  max-width: 1024px;
  background-color: #ddc18e;
}

.row {
  padding-left: 0;
}
span {
  font-size: 28px;
  color: rgb(165, 23, 23);
  text-align: left;
}

li {
  list-style-type: none;
}

i {
  color: saddlebrown;
  font-size: 28px;
}

.fa-phone,
.fa-map-marker-alt {
  font-size: 18px;
  padding-right: 3px;
}
.fb,
.ig {
  font-size: 28px;
  padding: 36px 3px 0px 3px;
}

.ig:hover {
  padding-top: 30px;
}

.txt {
  min-width: 80px;
  max-width: 80px;
}

.right {
  margin-top: 1rem;
}

@media (max-width: 550px) {
  .right {
    font-size: 8px;
    margin-top: 1rem;
    margin-left: 5px;
    text-align: left;
  }
  .col-4 p {
    padding-top: 8px;
    font-size: 14px;
  }
  .fa-phone,
  .fa-map-marker-alt {
    font-size: 13px;
  }
}