.container-fluid {
  overflow: hidden;
  max-width: 1024px;
}

.infoDiv {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 280px;
}

ul {
  list-style-type: none;
}

.li_img {
  padding-top: 2px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  object-fit: cover;
}

.rotate {
  width: 125px;
  margin: auto;
  border-radius: 50%;
  position: relative;
}

.rotate::after {
  content: '';
  border-top: gray solid 3px;
  border-bottom: gray solid 3px;
  position: absolute;
  width: 130px;
  height: 130px;
  left: -2%;
  bottom: -2%;
  border-radius: 50%;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
li {
  padding-top: 8px;
  border-bottom: black solid 2px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 535px) {
  li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 9em solid #e7dbc1;
    border-right: 13em solid transparent;
    left: 0px;
    bottom: 0px;
    z-index: -1;
  }
  li::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 7em solid #e7dbc1;
    border-left: 10em solid transparent;
    right: 0px;
    top: 0px;
    z-index: -1;
  }
  .infoDiv {
    min-height: 220px;
  }
}
