@mixin logo {
  background-color: #ddc18e;
  border-color: #ddc18e;
}
.wrap {
  max-width: 1024px;
  margin: auto;
  margin-bottom: -50px;
}

.img {
  width: 100%;
  height: 150px;
  background-image: url("~@/assets/img/box2.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.input-group {
  margin: auto;
  width: 50%;
}

.active {
  @include logo;
}

.sizing{
  box-sizing: border-box;
  height: 351px;
}

.card:hover {
  border: 1px solid gray;
  box-shadow: 1px 1px black;
  animation: goBig;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

@keyframes goBig {
  from {
   height: 100%;
   width: 100%;
  }
  to {
    height: 101%;
   width: 101%;
  }
}

.card-footer button {
  padding: 4px 12px 4px 12px;
  font-size: 18px;
  font-weight: bolder;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 991px){
  .a, .b{
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .b{
    max-width: 230px;
  }

}
@media (max-width: 576px) {
  .input-group {
    width: 90%;
  }

  .col-3 {
    padding: 0px 0px 0px 5px;
  }

  .list-group-item {
    padding: 5px 0px 5px 0px;
    font-weight: 600;
  }
}
