@mixin active {
  background-color: #e7dbc1;
  color: black;
  border-color: #e7dbc1;
}

@mixin hover {
  background-color: rgb(235, 201, 139);
  font-weight: bolder;
  color: white;
  box-shadow: 1px 1px rgb(109, 75, 13);
}

.img {
  width: 100%;
  height: 150px;
  background-image: url("~@/assets/img/box2.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
}

.input-group {
  margin: auto;
  width: 50%;
}

.seletPrice{
  position: absolute;
  bottom: 0;
  right: 0;
}

.pagination :hover,
.list-group :hover,
.page-item.active .page-link {
  @include hover;
}

.active,
.page-item.active .page-link {
  @include active;
}

.page-link {
  color: black;
}

.sizing {
  box-sizing: border-box;
  height: 351px;
}

.card:hover {
  border: 1px solid gray;
  box-shadow: 1px 1px black;
  animation: goBig;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

@keyframes goBig {
  from {
    height: 100%;
    width: 100%;
  }
  to {
    height: 100% + 1%;
    width: 100% + 1%;
  }
}

.card-footer button {
  padding: 4px 12px 4px 12px;
  font-size: 18px;
  font-weight: bolder;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 576px) {
  .input-group {
    width: 90%;
  }

  .col-3 {
    padding: 0px 0px 0px 5px;
  }

  .list-group-item {
    padding: 5px 0px 5px 0px;
    font-weight: 600;
  }
}
